DATABASE_URL=postgresql://neondb_owner:npg_9DEAuOVIvwx4@ep-cold-lab-b4f5z4j3-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=AURA_CHAT_SUPER_SECRET_PRODUCTION_KEY_2026
IMGBB_API_KEY=6f2066a27370f245f424cffff0bffd64
